[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
autopep8 = "*"
rope = "*"

[packages]
flask = "~=1.1"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
dynaconf = "*"
flask-admin = "*"
flask-pymongo = "*"
dnspython = "*"

[requires]
python_version = "3.8"
