<div class="ui fluid steps">
    <div class="active step">
        <i class="edit icon"></i>
        <div class="content">
            <div class="title">Rascunho</div>
            <div class="description">Praparar os dados da pesquisa</div>
        </div>
    </div>
    <div class="step">
        <i class="paper plane icon"></i>
        <div class="content">
            <div class="title">Publicação</div>
            <div class="description">Revisão dos dados e publicação</div>
        </div>
    </div>
    <div class="step">
        <i class="share alternate icon"></i>
        <div class="content">
            <div class="title">Compartilhamento</div>
            <div class="description">Compartilhar o link da pesquisa</div>
        </div>
    </div>
</div>